.container {
	display: grid;
	font-weight: bold;
	grid-template-columns: repeat(3,1fr);
	grid-template-rows: repeat(3,1fr);
	padding:30px;
	margin-top:30px;
	margin-left:30px;
	margin-right:30px;
	margin-bottom:30px;
	text-align: center;
}
