
.navbar{
    font-size : 12pt;
    display : flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: end;
    margin-bottom: 5px;
	margin-top: 5px;
	font-weight: bold;
    background-color:palegoldenrod;
}

.nav{
    list-style: none;
    padding: 0;
    text-align: center;
    width: 100%;
    display: flex;
    justify-content: space-around;
}

a {
	color: #334755;
	text-decoration: none;
}


.제목{
    text-align: center;
    font-size: 20pt;
}

.asibal{
    position:absolute;
    right:11px;
    transform:translateY(-110%);
    display: none;
       
}

@media screen and (max-width:780px){
    .asibal{
        display: block;
        transform: translateY(-420%);
    }

    .nav{
        flex-direction: column;
        text-align: center;
        width:100%; 
    }
    
}

.il{
    text-align: center;
}